:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --color-content: #757575;
  --bt-menu-background: #f5f4fa;
  --light-color-content: #ffffff;
  --color-logo-heder: #000000;
  --background-color-hero: #c4c4c4;
  --background-color-footer: #2f303a;
  --modal-button-background: #188ce8;
  --social-svg-color: #afb1b8;
  --clients-svg-color: #afb1b8;
  --first-foyn: "Roboto", sans-serif;
  --second-foyn: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-family: var(--first-foyn);
  letter-spacing: 0.03em;
  color: var(--color-content);
  background-color: var(--light-color-content);
}
/*==============Components=======================================*/
.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-content);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*==============End Components===================================*/
/*==================Header=======================================*/
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-contacts {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.navigation-header {
  display: flex;
  align-items: center;
}
.logotype {
  font-family: var(--second-foyn);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo-heder);
  margin-right: 93px;
}
.logotype-firsst-part {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-svg {
  fill: var(--color-content);
}
.email-svg {
  width: 16px;
  height: 12px;
}
.tel-svg {
  width: 10px;
  height: 16px;
}
.contacts-svg {
  margin-right: 10px;
}
.contacts-svg {
  fill: currentColor;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-content);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
.activ {
  color: var(--accent-color);
}
/*==============End Header=======================================*/
/*==============Hero=============================================*/
.hero {
  background-color: var(--background-color-hero);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../hero/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-item {
  margin-left: 226px;
  width: 663px;
  display: flex;
  justify-content: center;
  word-wrap: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color-content);
}
.modal-button {
  margin-top: 30px;
  justify-content: center;
}
.modal-button {
  font-family: var(--first-foyn);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color-content);
  background: var(--modal-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  padding: 10px 32px;
  display: block;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
}
/*==============Content===========================================*/
/*==============My anvantages=====================================*/
.background-anvantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.anvantages-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.svg-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bt-menu-background);
  margin-bottom: 30px;
}
.list-anvantages {
  display: flex;
  align-items: center;
}
.anvantages-svg {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-anvantages:not(:last-child) {
  margin-right: 30px;
}
/*==============End my anvantages=================================*/
/*==============My work===========================================*/
.work-list-container {
  padding-top: 47px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.anvantages-svg {
  width: 70px;
  height: 70px;
}
.hi-work {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.item-work {
  margin-left: 30px;
  margin-top: 30px;
}
/*==============End my work=======================================*/
/*==============My command========================================*/
.my-command {
  background-color: var(--bt-menu-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.h-command {
  margin-bottom: 50px;
}
.third-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-bottom: 10px;
}
.content-command {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-content);
  margin-bottom: 16px;
}
.text-comand {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.command-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.item-command {
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-color-content);
}
.scocial-list {
  display: flex;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-svg,
.social-link:focus .social-svg {
  fill: var(--light-color-content);
}
.social-svg {
  width: 20px;
  height: 20px;
  fill: var(--social-svg-color);
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
/*==============End my command====================================*/
/*==============Clients===========================================*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
}
.link-clients-svg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clients-svg-color);
}
.link-clients-svg:hover,
.link-clients-svg:focus {
  border: 1px solid #2196f3;
}
.link-clients-svg:hover .clients-svg,
.link-clients-svg:focus .clients-svg {
  fill: var(--accent-color);
}
.second-heading {
  padding-bottom: 50px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  fill: var(--clients-svg-color);
}
.svg-first {
  width: 41px;
  height: 47px;
}
.svg-second {
  width: 40px;
  height: 52px;
}
.svg-third {
  width: 43px;
  height: 41px;
}
.svg-quarters {
  width: 85px;
  height: 41px;
}
.svg-fifth {
  width: 63px;
  height: 45px;
}
.svg-sixth {
  width: 93px;
  height: 43px;
}
/*==============End clients=======================================*/
/*==============End Content=======================================*/
/*==============Footer============================================*/
.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer {
  display: flex;
  align-items: baseline;
}
.logotype-footer {
  font-family: var(--second-foyn);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-color-content);
  display: flex;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color-content);
}
.contact-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logotype-section {
  margin-right: 70px;
}
.footer-heading {
  color: #ffffff;
  margin-bottom: 20px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-svg-footer {
  width: 20px;
  height: 20px;
  fill: var(--light-color-content);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}
/*==============End Footer========================================*/
/*-----------------Портфолио----------------------------*/
/*==============Components=======================================*/
.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio {
  background-color: var(--light-color-content);
  padding-top: 94px;
  padding-bottom: 94px;
}
/*==============End Components===================================*/
/*==================Header=======================================*/
/*==============End Header========================================*/
/*==============Menu==============================================*/
.bt-container {
  padding-bottom: 50px;
}
.list-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.item-menu:not(:last-child) {
  margin-right: 8px;
}
.item-menu {
  background-color: var(--bt-menu-background);
}
.bt-menu {
  font-family: var(--first-foyn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--title-color);
  padding: 6px 22px;
  border: none;
}
.bt-menu:hover,
.bt-menu:focus {
  color: var(--light-color-content);
  background-color: var(--accent-color);
}
/*==============End Menu==========================================*/
/*==============Content===========================================*/
.list-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.item-content {
  margin-left: 30px;
  margin-top: 30px;
}
.item-content:hover,
.item-content:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.third-h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  padding-top: 10px;
}
.texts-item {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/*==============End Content=======================================*/
/*==============Footer============================================*/
/*==============End Footer========================================*/
