//BASE
@import "./base/base";
@import "./base/container";
@import "./base/portfolio-base";

//UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/amixin";
//COMPONTNS
@import "./components/second-heading";
@import "./components/content";
@import "./components/scocial-list";
@import "./components/bakdrop";
@import "./components/form";
@import "./components/bt-portfolio";

//LOYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/my-anvantages";
@import "./layout/my-work";
@import "./layout/command";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
