.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  transform: fill 250ms linear;
}
.link-clients-svg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include wid(170px, 92px);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clients-svg-color);
  transition: fill 250ms linear, border 250ms linear;
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
  &:hover .clients-svg,
  &:focus .clients-svg {
    fill: var(--accent-color);
  }
}
.second-heading {
  padding-bottom: 50px;
}

.clients-item {
  fill: var(--clients-svg-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.svg-first {
  @include wid(41px, 47px);
}
.svg-second {
  @include wid(40px, 52px);
}
.svg-third {
  @include wid(43px, 41px);
}
.svg-quarters {
  @include wid(85px, 41px);
}
.svg-fifth {
  @include wid(63px, 45px);
}
.svg-sixth {
  @include wid(93px, 43px);
}
