.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer {
  display: flex;
  align-items: baseline;
}
.logotype-footer {
  font-family: var(--second-foyn);
  @include font(26px, 700, 1.19, 0.03em);
  color: var(--light-color-content);
  display: flex;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
.address-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address-link {
  @include font(14px, 400, 1.71, 0.03em);
  color: var(--light-color-content);
}
.contact-link-footer {
  @include font(14px, 400, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}
.footer-logotype-section {
  margin-right: 70px;
}
.footer-heading {
  color: #ffffff;
  margin-bottom: 20px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include wid(44px, 44px);
  background-color: rgba(194, 80, 80, 0.1);
  border-radius: 50%;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-svg-footer {
  @include wid(20px, 20px);
  fill: var(--light-color-content);
}
.sektion-footer-fopm {
  position: relative;
  display: block;
  margin-left: 93px;
  @include wid(570px, 86px);
}
.name-footer-form {
  align-content: center;
  @include wid(219px, 16px);
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--light-color-content);
  margin-bottom: 20px;
}
.label-form {
  display: flex;
  padding: 0;
  margin: auto;
}
.footer-contact-input {
  margin-top: 20px;
  @include wid(358px, 50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-footer);
  color: var(--light-color-content);
  outline: none;
  transition: background-color 250ms linear;
  cursor: pointer;
  &:focus {
    border-color: var(--bt-menu-background);
  }
  &::placeholder {
    font-family: var(--first-foyn);
    @include font(16px, 400, 1.25, 0.03em);
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
}
.bt-footer-form {
  position: relative;
  margin-top: 30px;
  @include font(16px, 700, 1.87, 0.06em);
  color: var(--light-color-content);
  background: var(--modal-button-background);
  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: auto;
  margin-right: auto;
  border-style: none;
  display: block;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.svg-footer-form {
  position: absolute;
  top: 25%;
  right: 28px;
  @include wid(24px, 24px);
  @include wid(24px, 24px);
}
