.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-contacts {
  display: flex;
  align-items: center;
  @include wid(1200px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  align-items: center;
}
.logotype {
  font-family: var(--second-foyn);
  @include font(26px, 700, 1.19, 0.03em);
  color: var(--color-logo-heder);
  margin-right: 93px;
  animation-duration: 250ms;
}
.logotype-firsst-part {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation-link {
  @include font(14px, 500, 1.14, 0.02em);
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.activ {
  color: var(--accent-color);
  &::after {
    display: flex;
    content: "";
    @include wid(100%, 4px);
    background-color: var(--accent-color);
    flex-shrink: 0;
    position: relative;
    top: 32px;
  }
}
.header-contacts-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-svg {
  fill: var(--color-content);
}
.email-svg {
  @include wid(16px, 12px);
}
.tel-svg {
  @include wid(10px, 16px);
}
.contacts-svg {
  margin-right: 10px;
}
.contacts-svg {
  fill: currentColor;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-link {
  @include font(14px, 500, 1.14, 0.02em);
  letter-spacing: 0.02em;
  color: var(--color-content);
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
