.hero {
  background-color: var(--background-color-hero);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../hero/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-item {
  margin-left: 226px;
  width: 663px;
  display: flex;
  justify-content: center;
  word-wrap: normal;
  @include font(44px, 900, 1.3, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color-content);
}
.modal-button {
  margin-top: 30px;
  justify-content: center;
  cursor: pointer;
}
.modal-button {
  font-family: var(--first-foyn);
  @include font(16px, 700, 1.87, 0.06em);
  color: var(--light-color-content);
  background: var(--modal-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  padding: 10px 32px;
  display: block;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
