:root {
  --accent-color: #2196f3;
  --first-foyn: "Roboto", sans-serif;
  --second-foyn: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--first-foyn);
  letter-spacing: 0.03em;
  color: #757575;
}
/*==============Components=======================================*/
.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*==============End Components===================================*/
/*==================Header=======================================*/
.logotype {
  font-family: var(--second-foyn);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logotype-firsst-part {
  color: var(--accent-color);
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
/*==============End Header========================================*/
/*==============Menu==============================================*/
.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.link-menu:hover,
.link-menu:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/*==============End Menu==========================================*/
/*==============Content===========================================*/
.third-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.content-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*==============End Content=======================================*/
/*==============Footer============================================*/
.footer {
  background-color: #2f303a;
}
.logotype-footer {
  font-family: var(--second-foyn);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: #ffffff;
}
/*==============End Footer========================================*/
