.button-container {
  padding-bottom: 50px;
}
.list-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: box-shadow 250ms linear;
}
.item-menu {
  background-color: var(--bt-menu-background);
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.button-menu {
  @include font(16px, 500, 1.63, 00.03em);
  font-family: var(--first-foyn);
  text-align: center;
  border-radius: 4px;
  color: var(--title-color);
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--light-color-content);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
