.command-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.item-command {
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-color-content);
}
.scocial-list {
  display: flex;
  justify-content: center;
  align-items: center;
  @include wid(44px, 44px);
  border-radius: 50%;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .social-svg,
  &:focus .social-svg {
    fill: var(--light-color-content);
  }
}
.social-svg {
  @include wid(20px, 20px);
  fill: var(--social-svg-color);
  transition: fill 250ms linear;
}
.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
