:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --color-content: #757575;
  --bt-menu-background: #f5f4fa;
  --light-color-content: #ffffff;
  --color-logo-heder: #000000;
  --background-color-hero: #c4c4c4;
  --background-color-footer: #2f303a;
  --modal-button-background: #188ce8;
  --social-svg-color: #afb1b8;
  --clients-svg-color: #afb1b8;
  --first-foyn: "Roboto", sans-serif;
  --second-foyn: "Raleway", sans-serif;
}
