.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-second {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /*IE6 IE7*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 0 !important;
  height: 1px !important;
  overflow: hidden;
}
